<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.8-dist/css/bootstrap.min.css')}}">
        <title>
            {% block title %}My website {% endblock %}
        </title>
    </head>

    <body class="bg-dark">
        <div class="container">
            {% block navbar %}{% endblock %}
        </div>

        <div class="container mt">
            {% block content %}{% endblock %}
        </div>

        <div class="container mt">
            {% block footer %}{% endblock %}
        </div>

        <script src="{{url_for('static', filename='bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>